################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Adam/AspMvcDemo/.vs
/Timur/WebApplication2/.vs
