body{
  margin: 0;
  display: flex;
  justify-content: center;
}
body>div>div{
    display:flex;
    justify-content:center;
}
#duzyBen {
    height: 500px;
    width: 500px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
}
#duzyBen>div{
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

.pole{
  width:  50px;
  height: 50px;
  outline: 1px solid black;
}

.przeszkoda{
  background-color: black;
  width:50px;
}

.dijkstra{
  background-image: url("assets/dijkstra.png");
  background-size: cover;
}
.filippa{
  background-image: url("assets/filippa.png");
  background-size: cover;
}
.sciezka{
  background-color: beige;
}
#wymiary{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
#wymiary>input{
    width:50px;
}